<section class="farkle-reset-stats__form">
  <p>{{message}}</p>
  <footer class="sheet-footer farkle-flexrow">
    <button type="button" class="dialog-button danger" data-action="confirm">
      {{confirmLabel}}
    </button>
    <button type="button" class="dialog-button" data-action="cancel">
      {{cancelLabel}}
    </button>
  </footer>
</section>
